* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
  }
  body{
    font-family: 'Rubik';
  }
  body::-webkit-scrollbar-track {
    background: #fff;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #006494;
    height: 20%;
    border-radius: 50px;
  }
  
  body::-webkit-scrollbar {
    width: 10px;
  
  }.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #032030ac;
    backdrop-filter: blur(20px);
    border-right: 1px solid #d5deef80;
    transition: 0.3s ease;
    /* border-radius: 0px 99px 99px 0px; */
    z-index: 100;
    color:#F0F3FA;
  }
  
  /* .sidebar:hover {
    border-radius: 0;
    height: 100px;
    width: 100%;
  } */
  
  .sidebar .logo {
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 5px 30px 5px;
  }
  .active{
    background: #006DA4;
    
  }
  
  .logo img {
    width: 43px;
    border-radius: 50%;
  }
  
  .sidebar .links {
    list-style: none;
    overflow-x: auto;
    scrollbar-width: none;
    height: 50%;
    display: flex;
  }
  
  .sidebar .links::-webkit-scrollbar {
    display: none;
  }
  
  .links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
    flex-direction: column;
    margin: 0 5px;
  }
  
  .links li:hover {
    cursor: pointer;
    background: #006DA4;
  }
  
  .links h4 {
    color: #F0F3FA;
    font-weight: 500;
    /* display: none; */
  }
  
  .sidebar:hover .links h4 {
    display: block;
  }
  
  .links hr {
    margin: 10px 8px;
    border: 1px solid #000000;
  }
  
  .sidebar:hover .links hr {
    border-color: #000000;
  }
  
  .links li i {
    padding: 1px 10px;
    /* display: none; */
  }
  
  .links li a {
    padding: 10px;
    color: #F0F3FA;
    /* display: none; */
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
  }
  
  /* .sidebar:hover .links li i {
    display: block;
  }
  
  .sidebar:hover .links li a {
    display: block;
  } */
  /*responsive header*/
  
  @media screen and (max-width: 600px) {
       
.sidebar {
  top: 0;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction:  column;
 
}

.sidebar:hover {
  height: 100%;
  width: 200px;
}

.logo img {
  width: 43px;
  border-radius: 50%;
}

.sidebar .links {
  display: block;
  height: 80%;
}
  }

/* content*/
/*content*/

.content{
width: 100vw;
height: 100vh;
background-image: linear-gradient(rgba(3, 32, 48, 0.662), rgba(0, 53, 84, 0.674)100%),url(../image/image00.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
 display: flex;
 flex-direction: column;
 align-items: center;

}
.content h1{
    margin-top: 280px;
    font-size: 60px;
    margin-bottom: 5px;
    color: black;
    letter-spacing: 1px;
    padding: 10px 0;
}
.content p{
    color: black;
   
    padding: 5px 0;
    font-size: 35px;
}
.buttons{
   margin: 5px 0;
}
.start{
    font-size: 20px;
    background: none;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid white;
    color:#F9F7F3 ;
    border-radius: 25px;
}

    
.contact{
    font-size: 20px;
    background: none;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid white;
    color: #F9F7F3;
    border-radius: 25px;
}

.start:hover{
background-color: #032030;
cursor: pointer;
color: white;

}
.contact:hover{
    background-color: #032030;
    color: white;
    cursor: pointer; 
}
/*responsive content*/
@media screen and (max-width:767px) {
        
.sidebar {
  top: 0;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction:  column;
 
}

.sidebar:hover {
  height: 100%;
  width: 200px;
}

.logo img {
  width: 43px;
  border-radius: 50%;
}

.sidebar .links {
  display: block;
  height: 80%;
}
  .content h1{
    font-size: 35px;
  }
  .content p{
    font-size: 25px;
  }
}


/* intro video*/
/* intro video*/

.container{
    background-color: #032030;
   margin-top: 80px;
    width: 100vw;
    height: 60vh;
    display:flex;
    justify-content: space-evenly;
   align-items: center;
}
.DESIGN{
    margin: 120px 0;
}

.DESIGN h1{
    font-size: 30px;
    margin-left: 15px;
    color:#00B4D8;
    margin-bottom: 15px;
}
.DESIGN p{
    font-size: 20px;
    margin-left: 15px;
    width:45vw;
    color: white;
    text-align: justify;
    margin-bottom: 10px;

    
}
.button{
    font-size: 18px;
    background: none;
    padding: 10px 20px;
    margin: 5px 15px;
    border: 2px solid white;
    color:white ;
    border-radius: 25px;
    
}
.button:hover{
    color: #032030;
    background-color:white;
    cursor: pointer;
    
}
.container video{

width:500PX;
height: 100%;
border: 2px solid white;
border-radius: 5px;
}


/*Rooms*/
/*Rooms*/

h2{
    color:black;
    text-align: center;
    margin: 20px 0 ;
    font-size: 40px;
    }
.parent{
    margin-top: 35px;
   
    width: 100vw;
    height: 71vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.child1{
   height: 450px;
    border: 2PX solid black;
    border-radius: 5PX;
   

}
.child1 img{
    width:550px;
    height: 300px;

}
.text h3{
    color: #004d74;
    font-size: 30px;
    margin-left: 65px;
}
.text h6{
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 65px;
}
.child2{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.btn1{
    background-color: #032030;
    border: 2px solid black;
    border-radius:25px;
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
}
.btn1:hover{
    color: #032030;
    background-color: white;
    cursor: pointer;
}

.child2 p{
    font-size: 20px;
}
span{
    font-size: 25px;
}

/*Our Rooms*/
/*Our Rooms*/


.bord{
     margin-top: 35px;
    width: 100vw;
    height: 71vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bord img{
    width:400px;
    height: 300px;
}
.bord h5{
    width: fit-content;
    text-align: center;
    color:#004d74;
   padding: 5px 10px;
    margin-top: 10px  ;
    font-size: 30px;
    margin-left: 20px;
}
.box{
    height: 450px;
    border: 2PX solid black;
    border-radius: 5PX;
}
.icon ul{
  width: 300px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: black;
}
ul{
  list-style: none;
}
.icon span{
  background-color: black;
  width: 5px;
  color: white;
}


.text1 p{
    color: black;
    font-size: 20px;
}
.text1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.btn2{
    background-color:#032030;
    border: 2px solid black;
    border-radius:25px;
    font-size: 18px;
    color: #F9F7F3;
    padding: 10px 20px;
    margin: 5px 0;
}
.btn2:hover{
    color:#032030;
    background-color: white;
    cursor: pointer;
}
/*responsive container parent bord*/


@media screen and (max-width:1023px) {
  .container{
    height: 700px;
    margin-top: 60px;
    margin-bottom: 20px;
    flex-direction: column;
  }
 
  .DESIGN{
   margin-left: -25px;
    margin-top:20px;
    order: 2;
  }
  .DESIGN p{
    width: 75vw;
    text-align:justify;
    font-size: 15px;
    
  }
  .design-room{
    margin-bottom: -40px;
  }
 .container video{
  width: 75vw;
  height: 100%;
 }

 
  .parent{
    
    height: 920px;
    margin-top: 25px;
    margin-bottom: 35px;
    flex-direction: column;
  }
  .child1{
    margin-top: 25px;
    width: 400px;
    margin-bottom: 25px;
  }
  .text{
   margin-left: -35px;
  }
 .child2{
  margin: 10px 5px;

 }

 .child1 img{
  width:396px;
  height: 300px;

}

.bord{
  margin-top: 510px;
  flex-direction: column;
  margin-bottom: 450px;
}

 .box{
  margin-bottom: 25px;
 }

}


/*footer*/
/*footer*/

.section__container {
  margin-top: 500px;
    height: 65vh;
    max-width: 1200px;
    margin: auto;
    padding: 5rem 1rem;
  }
.footer {
    height: 72vh;
    background-color: #f3f4f6;
  }
  
  .footer__container {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 5rem;
  }
  
  .footer__col h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
  }
  
  .footer__col h4 {
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
  }
  
  .footer__col p {
    margin-bottom: .5rem;
    color: #767268;
    cursor: pointer;
    transition: 0.3s;
  }
  .footer__col a{
    margin-bottom: 0.5rem;
    color: #767268;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
  }
  .footer__col a:hover{
    color: #333;
  }
  .footer__col p:hover {
    color: #333;
  }
  
  .footer__bar {
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: #767268;
    text-align: center;
    overflow: hidden;
  }

    /*responsive footer*/
    /*responsive footer*/

  @media (width < 900px){
          
.sidebar {
  top: 0;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction:  column;
 
}

.sidebar:hover {
  height: 100%;
  width: 200px;
}

.logo img {
  width: 43px;
  border-radius: 50%;
}

.sidebar .links {
  display: block;
  height: 80%;
}
    .footer__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (width < 600px){

    .footer__container {
      gap: 2rem;
    }
  }
  