*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
    background-image: linear-gradient(rgba(12, 3, 51, 0.626), rgba(10, 4, 37, 0.703)),url(../image/wallpaper.jpg);
    background-size: cover;
    
}

:root {
  --pip1: #F0F3FA;
  --pip2: #d5deef80;
  --pip3: #006DA4;
  --pip4: #006494;
  --pip5: #003554;
  --pip6: #022B42;
  --pip7: #032030;
  --pip7-1:#0035547b;
  --dark: #5b5a5b;
  --exDark: #2b2b2b;
}.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #032030ac;
  backdrop-filter: blur(20px);
  border-right: 1px solid #d5deef80;
  transition: 0.3s ease;
  /* border-radius: 0px 99px 99px 0px; */
  z-index: 100;
  color:#F0F3FA;
}

/* .sidebar:hover {
  border-radius: 0;
  height: 100px;
  width: 100%;
} */

.sidebar .logo {
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 5px 30px 5px;
}

.logo img {
  width: 43px;
  border-radius: 50%;
}

.sidebar .links {
  list-style: none;
  overflow-x: auto;
  scrollbar-width: none;
  height: 50%;
  display: flex;
}

.sidebar .links::-webkit-scrollbar {
  display: none;
}

.links li {
  display: flex;
  border-radius: 4px;
  align-items: center;
  flex-direction: column;
  margin: 0 5px;
}

.links li:hover {
  cursor: pointer;
  background: #006DA4;
}

.links h4 {
  color: #F0F3FA;
  font-weight: 500;
  /* display: none; */
}

.sidebar:hover .links h4 {
  display: block;
}

.links hr {
  margin: 10px 8px;
  border: 1px solid #000000;
}

.sidebar:hover .links hr {
  border-color: #000000;
}

.links li i {
  padding: 1px 10px;
  /* display: none; */
}

.links li a {
  padding: 10px;
  color: #F0F3FA;
  /* display: none; */
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
}
.active{
  background: #006DA4;
  
}
/* .sidebar:hover .links li i {
  display: block;
}

.sidebar:hover .links li a {
  display: block;
} */
/* ===================== */
.login{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.headline{
    display: flex;
    justify-content: center;
    text-align: center;
}
h1{
    font-size: 5rem;
    margin-bottom: 20px;
    color: var(--pip1);
    text-align: center;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    
    
    
}
.form{
    position: relative;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.589);
    backdrop-filter: blur(17px);
    
    
    
}
header{
    font-size: 28px;
    font-weight: 600;
    color: var(--exDark);
    text-align: center;
}

.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid var(--pip2);
}

.field button{
    color: var(--pip1);
    background-color: var(--pip3);
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: var(--pip5);
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: var(--exDark);
}
.form a{
    color: var(--pip3);
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: line-through;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: var(--pip2);
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--dark);
    padding: 0 15px;
}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
a.facebook{
    color: var(--pip1);
    background-color: var(--pip3);
}
a.facebook .fa-facebook{
    height: 28px;
    width: 28px;
    color: var(--pip1);
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
a.google .fa-google{
    height: 28px;
    width: 28px;
    color: rgb(131,58,180);
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img.google-img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}
a.google{
    border: 1px solid var(--pip2);
}
a.google span{
    font-weight: 500;
    opacity: 0.6;
    color: var(--exDark);
}

@media screen and (max-width: 600px) {
  
  .sidebar {
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction:  column;
   
}

.sidebar:hover {
    height: 100%;
    width: 200px;
}

.logo img {
    width: 43px;
    border-radius: 50%;
}

.sidebar .links {
    display: block;
    height: 80%;
}
    .headline h1{
        font-size: 3rem;
    }
    .form{
        padding: 20px 10px;
    }
    .container{
        display: block;
    }
    
}
@media (width < 900px){
  .sidebar {
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction:  column;
   
}

.sidebar:hover {
    height: 100%;
    width: 200px;
}

.logo img {
    width: 43px;
    border-radius: 50%;
}

.sidebar .links {
    display: block;
    height: 80%;
}
  .headline h1{
    font-size: 3rem;
    padding: 10px;
}
.form{
    padding: 20px 10px;
    margin: 0 auto;
}
.login{
  margin: 0 auto;
}
.container{
    display: block;
}
}

